{
   "svelteSortOrder": "options-styles-scripts-markup",
   "svelteBracketNewLine": false,
   "svelteAllowShorthand": false,
   "svelteIndentScriptAndStyle": false,
   "tabWidth": 3,
   "useTabs": false,
   "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
   "prettier.documentSelectors": ["**/*.svelte"]
}
