@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "cosmical";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21.34% 0 0);
  --color-base-200: oklch(25% 0 0);
  --color-base-300: oklch(28.66% 0 0);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(43% 0.2045 268.95);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(79.28% 0.145 100.23);
  --color-secondary-content: oklch(14% 0 0);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(28.66% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(63.24% 0.1363 157.86);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57.86% 0.2242 26.62);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.66rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.btn-delete {
  @apply btn-error;
}

.text-delete {
  @apply text-error;
}

@plugin "daisyui" {
  themes: light --default, cosmical --prefersdark;
}

/* @font-face {
  font-family: 'Roboto Flex';
  src: url('/fonts/RobotoFlex.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal italic;
} */


@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Italic.ttf') format('truetype');
  font-weight: 1 999;
  font-style: italic;
}


html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
ol,
ul {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


body {
  font-family: 'Source Sans 3', sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-primary);
  color: var(--color-font-normal);
}

select {
  background-color: var(--color-bg-primary);
  color: var(--color-font-normal);
}


.theme-light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8f8f8;
  --color-font-normal: #3b3b3b;
  --color-font-muted: #5b5b5b;
  --color-font-faint: #8b8b8b;
  --color-border-normal: #e5e5e5;
  --color-border-muted: #b5b5b5;
  --color-border-muted: red;
  --color-interactive-hover: #00000010;
  --color-interactive-active: #00000016;
}

.theme-dark {
  --color-bg-primary: #1a1a1a;
  --color-bg-secondary: #121212;
  --color-font-normal: #ffffff;
  --color-font-muted: #cccccc;
  --color-font-faint: #888888;
  --color-border-normal: #555555;
  --color-border-muted: #333333;
  --color-interactive-hover: #ffffff10;
  --color-interactive-active: #ffffff16;
}

:root {
  --property-label-width: 9rem;

}

.clickable-element {
  cursor: pointer;

  &:hover {
    background-color: var(--color-interactive-hover);
  }
}