.tiptap-editor {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      @apply mt-0 font-bold;
   }
}
.tiptap-editor h1,
#title {
   font-size: 2.986rem;
   letter-spacing: -0.015em;
   margin-bottom: 0.6em;
}

.tiptap-editor h2 {
   font-size: 2.488rem;
   letter-spacing: -0.0125em;
   margin-bottom: 0.55em;
}

.tiptap-editor h3 {
   font-size: 2.074rem;
   letter-spacing: -0.01em;
   margin-bottom: 0.6em;
}

.tiptap-editor h4 {
   font-size: 1.728rem;
   letter-spacing: -0.0075em;
   margin-bottom: 0.65em;
}

.tiptap-editor h5 {
   font-size: 1.44rem;
   letter-spacing: -0.005em;
   margin-bottom: 0.7em;
}

.tiptap-editor h6 {
   font-size: 1.2rem;
   letter-spacing: -0.0025em;
   margin-bottom: 0.75em;
}

.tiptap-editor > div:focus {
   outline: none;
}

/* Estilos para las listas de tareas */
.tiptap-editor ul[data-type="taskList"] li {
   div {
      display: inline-block;
      p {
         @apply my-0 ml-3;
      }
   }
}

/* Estilos para el texto destacado */
.tiptap-editor mark {
   background-color: hsla(59, 100%, 50%, 0.5);
   color: inherit;
}
