.tiptap-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}
.tiptap-editor h1,
#title {
  font-size: 2.986rem;
  line-height: 1.5;
  letter-spacing: -0.025em;
}

.tiptap-editor h2 {
  font-size: 2.488rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
}

.tiptap-editor h3 {
  font-size: 2.074rem;
  line-height: 2;
  letter-spacing: -0.015em;
}

.tiptap-editor h4 {
  font-size: 1.728rem;
  line-height: 2.25;
  letter-spacing: 0.01em;
}

.tiptap-editor h5 {
  font-size: 1.44rem;
  line-height: 2.5;
  letter-spacing: 0.005em;
}

.tiptap-editor h6 {
  font-size: 1.2rem;
  line-height: 2.75;
  letter-spacing: 0em;
}

.tiptap-editor > div:focus {
  outline: none;
}

/* Estilos para las listas de tareas */
.tiptap-editor ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.tiptap-editor ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.tiptap-editor ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5em;
  user-select: none;
}

.tiptap-editor ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

/* Estilos para el texto destacado */
.tiptap-editor mark {
  background-color: hsla(59, 100%, 50%, 0.5);
  color: inherit;
}
